<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzNki24C5kKik_zP7D2tWUJibkJFoR60g</string>
	<key>GCM_SENDER_ID</key>
	<string>218202671160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.msyahid.fuurutta</string>
	<key>PROJECT_ID</key>
	<string>fuurutta</string>
	<key>STORAGE_BUCKET</key>
	<string>fuurutta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218202671160:ios:9edeb856d4a08c9a3a3ecd</string>
</dict>
</plist>